.notification-selector {
  display: flex;
  gap: 24px;

  &__option {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    color: var(--mat-sys-primary);
  }
}
